# https://www.appveyor.com/docs/lang/nodejs-iojs/#testing-under-multiple-versions-of-nodejs-or-iojs
environment:
  fast_finish: true
  matrix:
    - nodejs_version: "8"
    - nodejs_version: "7"
    - nodejs_version: "4"
    - nodejs_version: "5"
    - nodejs_version: "6"

platform:
  - x86
  - x64

install:
  - python -V
  - set PYTHON=python
  - ps: Install-Product node $env:nodejs_version $env:platform
  - node -p process.arch
  - node -p process.version
  - npm install node-gyp@3.6.1
  - npm install nan node-pre-gyp readable-stream rimraf
  - IF %nodejs_version% LSS 1 npm -g install npm
  - IF %nodejs_version% LSS 1 set PATH=%APPDATA%\npm;%PATH%
  - npm run prepare
  - set GYP_TARGET_ARCH=%PLATFORM:x86=ia32%
  - echo %GYP_TARGET_ARCH%
  - md build
  - npm install --build-from-source --target_arch=%GYP_TARGET_ARCH%
  - node_modules\.bin\node-pre-gyp package --target_arch=%GYP_TARGET_ARCH% %NPG_ARGS%
  - move build\stage\lzma-native lzma-native

test_script:
  - npm test

build: off

version: "{build}"

artifacts:
  path: lzma-native\*.gz
  name: npg-package

deploy:
  provider: FTP
  protocol: sftp
  host: entless.org
  username: node-pre-gyp
  password:
    secure: wvUCOyy2vjKjWyxk4lnoW7s1i2oiK1QhQFlBPKiKefl0cReZ0k/7iD7PBRjrh8OpUbZ05Jgc+pEYHC3sl87tVLB5pDS+jU++dPSXgHb1UmE=
  artifact: /npg-package/
  folder: uploads
  # only build on tags
  on:
    appveyor_repo_tag: true
